@value colorPrimary, colorSecondary from './variables.module.css';

.root {

}

.label {

}

.menuWrapper {
    min-height: 250px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu {
    padding: 0;
    width: 100%;
}

.menuItem {
    list-style-type: none;
    padding: 0.5rem;
    background-color: colorPrimary;
    color: colorSecondary;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    margin: 0.25rem;
}

.menuItemHighlighted {
    opacity: 0.9;
}
