@value colorPrimary from './variables.module.css';

.root {
    background-color: colorPrimary;
    padding: 0.25rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    border: 0 none;
    display: inline-block;
}
