@value colorPrimary, colorSecondary from './variables.module.css';

.root {
    text-align: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin: -0.25rem;
}

.listItem {
    flex: 1 1 50%;
    max-width: calc(50% - 0.5rem);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0.25rem;
}

.statName {
    color: colorSecondary;
    text-transform: uppercase;
}

.statValue {
    color: colorPrimary;
    font-size: 2rem;
    margin: 0 0 0 0.5rem;
    line-height: 0.9;
}
