@value xsUp, mdUp, lgUp, colorGray1 from './variables.module.css';

.root {
    text-align: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin: -0.5rem;
}

.listItem {
    flex: 1 1 100%;
    display: block;
    position: relative;
    margin: 0.5rem;
}

.listItemEmpty {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: colorGray1;
}

@media xsUp {
    .listItem {
        max-width: calc(50% - 1rem)
    }
}

@media mdUp {
    .listItem {
        max-width: calc(33.333% - 1rem)
    }
}

@media lgUp {
    .listItem {
        max-width: calc(16.666% - 1rem)
    }
}

.delete {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
}

.deleteLabel {
    composes: screenreaderOnly from './utilities.module.css';
}
