@value colorPokemonTypeNormal, colorPokemonTypeFire, colorPokemonTypeWater, colorPokemonTypeElectric, colorPokemonTypeGrass, colorPokemonTypeIce, colorPokemonTypeFighting, colorPokemonTypePoison, colorPokemonTypeGround, colorPokemonTypeFlying, colorPokemonTypePsychic, colorPokemonTypeBug, colorPokemonTypeRock, colorPokemonTypeGhost, colorPokemonTypeDragon, colorPokemonTypeDark, colorPokemonTypeSteel, colorPokemonTypeFairy from './variables.module.css';

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.type--normal { background-color: colorPokemonTypeNormal; }
.type--fire { background-color: colorPokemonTypeFire; }
.type--water { background-color: colorPokemonTypeWater; }
.type--electric { background-color: colorPokemonTypeElectric; }
.type--grass { background-color: colorPokemonTypeGrass; }
.type--ice { background-color: colorPokemonTypeIce; }
.type--fighting { background-color: colorPokemonTypeFighting; }
.type--poison { background-color: colorPokemonTypePoison; }
.type--ground { background-color: colorPokemonTypeGround; }
.type--flying { background-color: colorPokemonTypeFlying; }
.type--psychic { background-color: colorPokemonTypePsychic; }
.type--bug { background-color: colorPokemonTypeBug; }
.type--rock { background-color: colorPokemonTypeRock; }
.type--ghost { background-color: colorPokemonTypeGhost; }
.type--dragon { background-color: colorPokemonTypeDragon; }
.type--dark { background-color: colorPokemonTypeDark; }
.type--steel { background-color: colorPokemonTypeSteel; }
.type--fairy { background-color: colorPokemonTypeFairy; }

.media {
    max-width: 100%;
    display: block;
}
