@value xsUp: (min-width: 320px);
@value smUp: (min-width: 600px);
@value mdUp: (min-width: 960px);
@value lgUp: (min-width: 1280px);

@value colorPrimary: #3a5d9f;
@value colorSecondary: #fdcc07;
@value colorGray1: #c1c8ca;

@value colorPokemonTypeNormal: #a8a77a;
@value colorPokemonTypeFire: #ee8130;
@value colorPokemonTypeWater: #6390f0;
@value colorPokemonTypeElectric: #f7d02c;
@value colorPokemonTypeGrass: #7ac74c;
@value colorPokemonTypeIce: #96d9d6;
@value colorPokemonTypeFighting: #c22e28;
@value colorPokemonTypePoison: #a33ea1;
@value colorPokemonTypeGround: #e2bf65;
@value colorPokemonTypeFlying: #a98ff3;
@value colorPokemonTypePsychic: #f95587;
@value colorPokemonTypeBug: #a6b91a;
@value colorPokemonTypeRock: #b6a136;
@value colorPokemonTypeGhost: #735797;
@value colorPokemonTypeDragon: #6f35fc;
@value colorPokemonTypeDark: #705746;
@value colorPokemonTypeSteel: #b7b7ce;
@value colorPokemonTypeFairy: #d685ad;

